    .tentang-container {
  padding: 32px;
  color: #fff;
  line-height: 1.6;
}

.tentang-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #4ab4f5;
}

.tentang-container ul {
  margin: 12px 0;
  padding-left: 20px;
}

.tentang-container li {
  margin-bottom: 8px;
}
