.app-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}


.main-content {
  flex: 1;
  margin-left: 230px;
  padding: 2rem;
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 1rem;
    margin-top: 60px; /* memberi ruang untuk mobile header */
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-top: 60px;
    margin-left: 0;
  }
}
